# --
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# Copyright (C) 2021 Znuny GmbH, https://znuny.org/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --

[% RenderBlockStart("Stats") %]
<div class="LayoutPopup ARIARoleMain">
    <div class="Header">
        <div>
            <h1>[% Translate("Stats Overview of") | html %]: [% Translate(Config("Survey::Hook")) | html %][% Data.SurveyNumber %] - [% Data.Title %]</h1>
        </div>
        <div>
            <a class="CancelClosePopup btn-cancel-ghost btn-main btn-width-md" href="#">
            [% Translate("Close and Back") | html %]
            </a>
        </div>
    </div>
    <div class="Content">

        <ul class="BreadCrumb">
            <li>
                [% Translate("Survey Stat Details") | html %]
            </li>
        </ul>

        <div class="WidgetSimple">
            <div class="Header">
                <div class="WidgetAction Toggle">
                    <a href="#" title="[% Translate("Toggle this widget") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                </div>
                <h2>[% Translate("Requests Table") | html %]</h2>
            </div>
            <div class="Content">
                <fieldset class="TableLike card-item-wrapper">
                    <div class="card-item col-wide-100 col-desktop-100 col-tablet-100">
                        <h2 class="card-title">[% Translate("Requests Table") | html %]</h2>

                        <form action="[% Env("CGIHandle") %]" method="post">
                            <input type="hidden" name="Action" value="[% Env("Action") %]" />
                            <input type="hidden" name="Subaction" value="StatsView" />
                            <input type="hidden" name="SurveyID" value="[% Data.SurveyID | html %]" />
                            <div class="Content">
                                <table class="DataTable">
                                    <thead>
                                        <tr>
                                            [% IF Data.ShowDelete == 1 %]
                                            <th class="Checkbox Center">
                                                <input class="Checkbox" type="checkbox" id="SelectAllRequests" name="SelectAllRequests" title="[% Translate("Select all requests") | html %]" autocomplete="off" />
                                            </th>
                                            [% END %]
                                            <th>
                                                [% Translate("Ticket") | html %]
                                            </th>
                                            <th>
                                                [% Translate("Send Time") | html %]
                                            </th>
                                            <th>
                                                [% Translate("Vote Time") | html %]
                                            </th>
                                            <th class="Center">
                                                [% Translate("Details") | html %]
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
[% RenderBlockStart("StatsVote") %]
                                        <tr>
                                            [% IF Data.ShowDelete == 1 %]
                                            <td class="Checkbox NonTextContent Center">
                                                <input class="Checkbox" type="checkbox" name="RequestDeleteIdentifier" title="[% Translate("Select this request") | html %]" value="[% Data.RequestID | html %]"  autocomplete="off" />
                                            </td>
                                            [% END %]
                                            <td>
                                                <a class="LinkZoomView AsBlock" href="[% Env("Baselink") %]Action=AgentTicketZoom;TicketID=[% Data.TicketID | uri %]" title="[% Translate("Ticket") | html %] [% Data.TicketNumber | html %]">
                                                    [% Config("Ticket::Hook") %][% Config("Ticket::HookDivider") %][% Data.TicketNumber | html %]
                                                </a>
                                            </td>
                                            <td>
                                                [% Data.SendTime | Localize("TimeLong") %]
                                            </td>
                                            <td>
                                                [% Data.VoteTime | Localize("TimeLong") %]
                                            </td>
                                            <td class="Center">
                                                <a class="AsBlock table-icon-hover-md SeeDetails" href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=StatsDetail;SurveyID=[% Data.SurveyID | uri %];RequestID=[% Data.RequestID | uri %];TicketNumber=[% Data.TicketNumber | uri %]" title="[% Translate("See Details") | html %]">
                                                    <i class="fa fa-search-plus"></i>
                                                    <span class="InvisibleText">[% Translate("See Details") | html %]</span>
                                                </a>
                                            </td>
                                        </tr>
[% RenderBlockEnd("StatsVote") %]
                                    </tbody>
                                </table>
                                [% IF Data.ShowDelete == 1 %]
                                <div class="field-wrapper form-button-actions">
                                    <div class="Field buttons-field">
                                        <button class="CallForAction btn-main btn-warning btn-width-md" type="submit" value="[% Translate("Delete stats") | html %]">
                                            <span>[% Translate("Delete stats") | html %]</span>
                                        </button>
                                        <input type="hidden" name="SubmitDelete" value="[% Translate("Delete") | html %]" />
                                    </div>
                                </div>
                                [% END %]
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="Footer">
    </div>
</div>
[% RenderBlockEnd("Stats") %]

[% RenderBlockStart("StatsDetail") %]
<div class="LayoutPopup ARIARoleMain">
    <div class="Header">
        <div>
            <h1>[% Translate("Survey Stat Details") | html %]: [% Config("Survey::Hook") %][% Data.SurveyNumber %] - [% Data.Title %] - [% Config("Ticket::Hook") %][% Config("Ticket::HookDivider") %][% Data.TicketNumber %]</h1>
        </div>
        <div>
            <a class="CancelClosePopup btn-cancel-ghost btn-main btn-width-md" href="#">
            [% Translate("Close and Back") | html %]
            </a>
        </div>
    </div>
    <div class="Content">

[% RenderBlockStart("NavArrows") %]
        <div class="NavArrows col-wide-100 col-desktop-100 col-tablet-100">
            <div [% IF !Data.Prev %]class="Hidden"[% END %]>
                <a class="CallForAction btn-main btn-primary-ghost btn-width-md" href="[% Env("Baselink") %]Action=AgentSurveyStats;Subaction=StatsDetail;SurveyID=[% Data.SurveyID | uri %];RequestID=[% Data.Prev | uri %];TicketNumber=[% Data.PrevTicketNumber | uri %]">
                        <span><i class="fa fa-caret-up"></i> [% Translate("Previous vote") | html %]</span>
                </a>
            </div>
            <div [% IF !Data.Next %]class="Hidden"[% END %]>
                <a class="CallForAction btn-main btn-primary-ghost btn-width-md" href="[% Env("Baselink") %]Action=AgentSurveyStats;Subaction=StatsDetail;SurveyID=[% Data.SurveyID | uri %];RequestID=[% Data.Next | uri %];TicketNumber=[% Data.NextTicketNumber | uri %]">
                        <span><i class="fa fa-caret-down"></i> [% Translate("Next vote") | html %]</span>
                </a>
            </div>
        </div>
[% RenderBlockEnd("NavArrows") %]

        <ul class="BreadCrumb">
            <li>
                <a href="[% Env("Baselink") %]Action=AgentSurveyStats;SurveyID=[% Data.SurveyID | uri %]">[% Translate("Survey Stat Details") | html %]</a>
            </li>
            <li><i class="fa fa-angle-right"></i></li>
            <li>
                [% Translate("Details") | html %] [% Config("Ticket::Hook") %][% Config("Ticket::HookDivider") %][% Data.TicketNumber %]
            </li>
        </ul>

        <div class="WidgetSimple">
            <div class="Header">
                <div class="WidgetAction Toggle">
                    <a href="#" title="[% Translate("Toggle this widget") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                </div>
                <h2>[% Translate("Details") | html %] [% Config("Ticket::Hook") %][% Config("Ticket::HookDivider") %][% Data.TicketNumber %]</h2>
            </div>
            <div class="Content">
                <p>[% Translate("All fields marked with an asterisk (*) are mandatory.") | html %]</p>
[% RenderBlockStart("StatsDetailQuestion") %]
                <fieldset class="TableLike card-item-wrapper">
                    <div class="card-item col-wide-100 col-desktop-100 col-tablet-100">
                        <h2 class="card-title">[%IF Data.AnswerRequired == 1 %] * [% END %][% Data.Question | html %]</h2>
[% RenderBlockStart("StatsDetailAnswer") %]
                        <div class="Field">
                          <p>[% Data.Answer %]</p>
                        </div>
[% RenderBlockEnd("StatsDetailAnswer") %]
                    </div>
                </fieldset>
[% RenderBlockEnd("StatsDetailQuestion") %]

            </div>
        </div>
    </div>
    <div class="Footer">
    </div>
</div>
[% RenderBlockEnd("StatsDetail") %]
